@page
@model MegaDesk_Razor.Pages.DeskQuotes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeskQuote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.DeskID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.DeskID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.RushDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.RushDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.QuoteAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.QuoteAmount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DeskQuote.DeskQuoteID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
