@page
@model MegaDesk_Razor.Pages.DeskQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeskQuote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.RushDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.RushDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.Drawers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.Drawers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.DeskMaterial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.DeskMaterial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.Width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.Width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskQuote.QuoteTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskQuote.QuoteTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote.DeskQuoteID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
